.section-2 {
  margin-top: 100px;
  position: relative;
  color: $text-color;

  .section-2-content {
    display: flex;
    padding: $spacer-small 10px;

    img {
      z-index: 1;
      height: 300px;
    }

    span {
      font-size:150px;
      line-height:0.6em;
      height: 20px;
      opacity:0.5;
    }

    .quotes {
      font-style: italic;
      font-size: 1.2em;
      font-weight: 200;
      z-index: 1;
      .quote-content {

        transform: translateX(-20%);
        font-size: $text-content;
        margin-top: $spacer-middle;
        font-weight: 200;
      }

      .mark {
      }
    }

    &::before {
      content: "";
      z-index: 0;
      transform: translate(-50px, -50px);
      background-color: $theme-color;
      position: absolute;
      height: 400px;
      width: 60%;
    }
  }
}
