.section-4 {
  height: auto;
  // background-color: #fff;
  padding-bottom: $spacer-middle;

  .intro {
    width: auto;
    height: 500px;
    justify-content: center;
    display: flex;
    margin: $spacer-middle auto;
    background-image: url('../images/faculty.png');
    background-position: center;
    background-size: cover;

    .intro-content {
      text-align: center;
      width: 50%;
      padding: $spacer-small;
      color: $text-color;
      background-color: $overlay;

      .para {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .section-3-info-1 {
    height: inherit;

    .title {
      font-weight: bold;
      font-size: $small-title;
      color: $text-color;
      text-align: center;
    }

    img {
      transform: translateX(8%);
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}
