@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

.section-3 {

}

.section-3-description {
  z-index: 0;
  color: $text-color;
  margin-top: $spacer-large;

  blockquote {
    color: $text-color;
    font-size: 1.3em;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .section-3 {
    margin-top: $spacer-small;
    font-size: $text-mobile;
    width: 80%;

    .section-3-description {
      margin-top: $spacer-small;
    }
  }
}
