.section-6 {
  height: auto;
  margin-top: $spacer-middle;

  .title {
    color: $text-color;
    font-size: $small-title;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  img {
    max-width: 60%;
    max-height: 380px;
    margin-top: $spacer-middle;
    display: block;
    margin: 0 auto;
    margin-top: $spacer-small;
  }

  .content {
    width: 100%;
    height: inherit;
    display: flex;

  }
}
