.section-8 {
  margin-top: $spacer-large;
  height: auto;
  background-image: url('../images/future.png');
  background-position: center;
  background-size: cover;
  color: $text-color;

  .section-container {
    background-color: $overlay;
    padding: $spacer-middle 0;

    .title {
      color: $text-color;
    }

    .flex-container {
      flex-wrap: wrap;
      display: flex;
      max-width: 80%;
      justify-content: center;
      margin: 0 auto;
    }

    .content {
      max-width: 50%;
      padding: 0 10px;
    }

    iframe {
      max-width: 600px;
      width: 560px;
      max-height: 315px;
      margin-top: $spacer-middle;
      border-style: solid;
      border: 10px $highlight-color solid;
    }
  }
}
