@import './slideShow';

.section-5 {
  height: auto;
  background-image: url('../images/campus.jpg');
  background-position: center;
  background-size: cover;
  .content {

    h1 {
      margin: 0;
      color: white;
      text-align: center;
      font-weight: bold;
      background-color: $overlay;
      width: 40%;
      margin: 0 auto;
      display: block;
    }


    text-align: center;
    padding: $spacer-middle 0;
    width: 100%;
    margin: 0 auto;
    height: 60%;
    overflow: visible;

    .units {
      padding: $spacer-small 0;
      width: fit-content;

      .unit {
        background-color: $overlay;
        height: auto;
        width: 140px;
        min-width: 50px;
        height: 120px;
        margin: 5px 10px;
        padding: 0;
        text-align: center;
        color: $text-color;
        font-weight: bold;
        transition: 0.3s ease;
        p {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

button {
  outline: none;
  border-radius: 30px;
  width: 250px;
  padding: 0.8em 0.5em;
  display: inline-block;
  position: relative;
  border: none;
  text-decoration: none;
  background-color: $secondary-color;
  color: $secondary-text-color;
  font-size: 1.1em;
  font-weight: light;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-top: $spacer-middle;

  .right {
    margin-left: 1.1em;
  }

  .left {
    margin-right: 1.1em;
  }

  i {
    transition: 0.2s ease-out;
  }

  &:hover {
    background-color: $highlight-color;
    color: $secondary-text-color;
    .right {
      margin-left: 1.5em;
    }

    .left {
      margin-right: 1.5em;
    }
  }
}

@media screen and (max-width: 600px) {
  .section-5 {
    font-size: $text-mobile;

    h1 {
      font-size: $small-title;
    }
  }
}
