.section-5 {
  height: auto;
  background-image: url('../images/campus.jpg');
  background-position: center;
  background-size: cover;

  .content {
    text-align: center;
    padding: $spacer-middle 0;
    background-color: $overlay;
    width: 60%;
    margin: 0 auto;
    height: 100%;

    h1 {
      margin: 0;
      color: white;
      text-align: center;
      font-weight: bold;
    }

    .units {
      padding: $spacer-small 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .unit {
        height: 100%;
        width: 140px;
        min-width: 50px;

        height: 100px;
        // height: 120px;
        margin: 5px 10px;

        padding: 10px;
        text-align: center;
        color: $text-color;
        font-weight: bold;
        transition: 0.3s ease;

        border-bottom: 0.5px solid $text-color;
        // border-top: 0.5px solid $text-color;
        // border: 0.5px solid $text-color;

        p {
          position: relative;
          top: 30%;
          transform: translateY(-50%);
        }

        // &:hover {
        //   cursor: pointer;
        //   color: $secondary-text-color;
        //   border: 0.5px solid transparent;
        //   background-color: $secondary-color;
        // }
      }
    }
  }
}

button {
  border-radius: 30px;
  width: 250px;
  padding: 0.8em 0.5em;
  display: inline-block;
  position: relative;
  border: none;
  text-decoration: none;
  background-color: $secondary-color;
  color: $text-color;
  font-size: 1.1em;
  font-weight: light;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-top: $spacer-middle;

  .right {
    margin-left: 1.1em;
  }

  .left {
    margin-right: 1.1em;
  }

  i {
    transition: 0.2s ease-out;
  }

  &:hover {
    background-color: $highlight-color;
    color: $secondary-text-color;
    .right {
      margin-left: 1.5em;
    }

    .left {
      margin-right: 1.5em;
    }
  }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
