@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/* orange & blue */
/* light background */
/* dark background */
/* new theme */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
.empty {
  height: 50vh;
}

.para {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.8em;
}

.big-number {
  font-weight: bolder;
  display: inline;
  vertical-align: middle;
  font-size: 5em;
}

.vertical {
  position: relative;
  transform: rotate(-90deg);
}

body, html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  background-color: #1e1548;
}

.section-content {
  padding: 50px;
}

.section {
  max-width: 800px;
  margin: 0 auto;
}

.paragraph {
  border-left: solid 8px #d98139;
  padding-left: 10px;
}

.title {
  color: #dfdfdf;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

footer {
  padding: 2em 0;
  background-color: #1e1548;
}
footer img {
  margin-top: 2em;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.section-1 {
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../images/laugh.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-1 .header-content {
  display: flex;
  margin: 0 auto;
  color: white;
  position: relative;
  top: 300px;
  width: 750px;
  height: 400px;
  background-color: rgba(30, 21, 72, 0.8);
}
.section-1 .header-content img {
  max-width: 200px;
}
.section-1 .header-content .content-container {
  margin-left: 2em;
}
.section-1 .header-content .content-container .maintitle {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0;
}
.section-1 .header-content .content-container .subtitle {
  margin-top: 2em;
  text-align: center;
  font-weight: lighter;
  font-size: 1.2em;
}
.section-1 .header-content .content-container hr {
  /* chrome */
  border-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8 !important;
}

.section-2 {
  margin-top: 100px;
  position: relative;
  color: #dfdfdf;
}
.section-2 .section-2-content {
  display: flex;
  padding: 2em 10px;
}
.section-2 .section-2-content img {
  z-index: 1;
  height: 300px;
}
.section-2 .section-2-content span {
  color: #fcd77f;
  font-size: 150px;
  line-height: 0.6em;
  height: 20px;
  opacity: 0.99;
}
.section-2 .section-2-content .quotes {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 200;
  z-index: 1;
}
.section-2 .section-2-content .quotes .quote-content {
  transform: translateX(-20%);
  font-size: 1em;
  margin-top: 5em;
  font-weight: 200;
}
.section-2 .section-2-content::before {
  content: "";
  z-index: 0;
  transform: translate(-50px, -50px);
  background-color: #d98139;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 400px;
  width: 60%;
}

.ball {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #fcd77f;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -30%);
}

.section-3-description {
  z-index: 0;
  color: #dfdfdf;
  margin-top: 10em;
}
.section-3-description blockquote {
  color: #dfdfdf;
  font-size: 1.3em;
  font-weight: bold;
}

.section-4 {
  height: auto;
  padding-bottom: 5em;
}
.section-4 .intro {
  width: auto;
  height: 500px;
  justify-content: center;
  display: flex;
  margin: 5em auto;
  background-image: url("../images/faculty.png");
  background-position: center;
  background-size: cover;
}
.section-4 .intro .intro-content {
  text-align: center;
  width: 50%;
  padding: 2em;
  color: #dfdfdf;
  background-color: rgba(30, 21, 72, 0.8);
}
.section-4 .intro .intro-content .para {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.section-4 .section-3-info-1 {
  height: inherit;
}
.section-4 .section-3-info-1 .title {
  font-weight: bold;
  font-size: 2em;
  color: #dfdfdf;
  text-align: center;
}
.section-4 .section-3-info-1 img {
  transform: translateX(8%);
  width: 100%;
  display: block;
  margin: 0 auto;
}

.section-5 {
  height: auto;
  background-image: url("../images/campus.jpg");
  background-position: center;
  background-size: cover;
}
.section-5 .content {
  text-align: center;
  padding: 5em 0;
  background-color: rgba(30, 21, 72, 0.8);
  width: 60%;
  margin: 0 auto;
  height: 100%;
}
.section-5 .content h1 {
  margin: 0;
  color: white;
  text-align: center;
  font-weight: bold;
}
.section-5 .content .units {
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-5 .content .units .unit {
  height: 100%;
  width: 140px;
  min-width: 50px;
  height: 100px;
  margin: 5px 10px;
  padding: 10px;
  text-align: center;
  color: #dfdfdf;
  font-weight: bold;
  transition: 0.3s ease;
  border-bottom: 0.5px solid #dfdfdf;
}
.section-5 .content .units .unit p {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

button {
  border-radius: 30px;
  width: 250px;
  padding: 0.8em 0.5em;
  display: inline-block;
  position: relative;
  border: none;
  text-decoration: none;
  background-color: #d98139;
  color: #dfdfdf;
  font-size: 1.1em;
  font-weight: light;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-top: 5em;
}
button .right {
  margin-left: 1.1em;
}
button .left {
  margin-right: 1.1em;
}
button i {
  transition: 0.2s ease-out;
}
button:hover {
  background-color: #fcd77f;
  color: #1e1548;
}
button:hover .right {
  margin-left: 1.5em;
}
button:hover .left {
  margin-right: 1.5em;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
.section-6 {
  height: auto;
  margin-top: 5em;
}
.section-6 .title {
  color: #dfdfdf;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.section-6 img {
  max-width: 60%;
  max-height: 380px;
  margin-top: 5em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}
.section-6 .content {
  width: 100%;
  height: inherit;
  display: flex;
}

.section-7 {
  margin-top: 10em;
  color: #dfdfdf;
}
.section-7 h1 {
  color: #dfdfdf;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.section-7 .active, .section-7 .dot:hover {
  background-color: #717171;
}
.section-7 .intro {
  margin: 5em 0;
  margin-top: 2em;
}
.section-7 .slideshoww-container {
  display: flex;
  padding: 5em 2em 2em 0;
  background: linear-gradient(90deg, transparent 40%, #d98139 40%);
  height: 550px;
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}
.section-7 .slideshoww-container .photo-container {
  z-index: 5;
  width: fit-content;
}
.section-7 .slideshoww-container .photo-container .mini-photo {
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.section-7 .slideshoww-container .photo-container .mini-photo .mini {
  float: left;
  margin: 0.2em;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: 0.3s ease;
}
.section-7 .slideshoww-container .photo-container .mini-photo .mini:hover {
  cursor: pointer;
  opacity: 0.8;
}
.section-7 .slideshoww-container .photo-container .mini-photo .mini_active {
  border: 3px solid #fcd77f;
}
.section-7 .slideshoww-container .mySlides {
  display: none;
}
.section-7 .slideshoww-container .prev, .section-7 .slideshoww-container .next {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 12px;
  color: #dfdfdf;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  transform: translateY(-300%);
  background-color: #d98139;
  border-radius: 100%;
  text-align: center;
}
.section-7 .slideshoww-container .next {
  margin-right: 1em;
  float: right;
}
.section-7 .slideshoww-container .prev {
  margin-left: 1em;
  float: left;
}
.section-7 .slideshoww-container .prev:hover, .section-7 .slideshoww-container .next:hover {
  opacity: 0.8;
}
.section-7 .slideshoww-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.section-7 .slideshoww-container img {
  z-index: 5;
  height: 250px;
  width: 400px;
}
.section-7 .slideshoww-container .content {
  z-index: 1;
  margin-left: 1.5em;
}
.section-7 .slideshoww-container .content .initiatives {
  height: 250px;
  width: 100%;
}
.section-7 .slideshoww-container .content .initiatives .bold {
  font-weight: bold;
}
.section-7 .slideshoww-container .content .initiatives .ini-content {
  display: none;
  margin: 0;
}
.section-7 .slideshoww-container .content .initiatives .ini-title {
  display: none;
  margin: 0;
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}
.section-7 .slideshoww-container .content .statement {
  font-size: 1em;
  font-weight: 200;
  z-index: 0;
}
.section-7 .slideshoww-container .content .statement span {
  font-size: 150px;
  line-height: 0.6em;
  height: 20px;
  opacity: 0.5;
}
.section-7 .slideshoww-container .content .statement .statement-content {
  font-style: italic;
  font-size: 1em;
  margin-top: 0;
  font-weight: 200;
}
.section-7 .slideshoww-container .content .statement .people {
  float: right;
}

.section-8 {
  margin-top: 10em;
  height: auto;
  background-image: url("../images/future.png");
  background-position: center;
  background-size: cover;
  color: #dfdfdf;
}
.section-8 .section-container {
  background-color: rgba(30, 21, 72, 0.8);
  padding: 5em 0;
}
.section-8 .section-container .title {
  color: #dfdfdf;
}
.section-8 .section-container .flex-container {
  flex-wrap: wrap;
  display: flex;
  max-width: 80%;
  justify-content: center;
  margin: 0 auto;
}
.section-8 .section-container .content {
  max-width: 50%;
  padding: 0 10px;
}
.section-8 .section-container iframe {
  position: relative;
  top: 0;
  max-width: 600px;
  width: 560px;
  max-height: 380px;
  height: 380px;
  margin-top: 16.5px;
  border-style: solid;
  border: 10px #d98139 solid;
}

.ending {
  background-color: #d98139;
  padding: 5em 0;
}
.ending .title {
  margin: 0;
  color: #1e1548;
}
.ending .container {
  margin: 0 auto;
  width: 80%;
}
.ending .container .flex-container {
  display: flex;
  justify-content: center;
}
.ending .container .flex-container button {
  border-radius: 30px;
  width: 350px;
  padding: 0.8em 0.5em;
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: #1e1548;
  color: #dfdfdf;
  font-size: 1.1em;
  font-weight: light;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin: 2em;
}
.ending .container .flex-container button .right {
  margin-left: 1.1em;
}
.ending .container .flex-container button .left {
  margin-right: 1.1em;
}
.ending .container .flex-container button i {
  transition: 0.2s ease-out;
}
.ending .container .flex-container button:hover {
  background-color: #fcd77f;
  color: #1e1548;
}
.ending .container .flex-container button:hover .right {
  margin-left: 1.5em;
}
.ending .container .flex-container button:hover .left {
  margin-right: 1.5em;
}
.ending .container .quote {
  margin-top: 5em;
  color: #1e1548;
  display: flex;
}
.ending .container .quote span {
  font-size: 150px;
  line-height: 0.6em;
  height: 20px;
  opacity: 0.5;
}
.ending .container .quote .quotes {
  font-style: italic;
  font-size: 1.3em;
  font-weight: 300;
}
.ending .container .quote .quotes .mark {
  float: right;
}

.end-quote {
  height: 100px;
  background-color: #1e1548;
  padding-top: 2em;
  color: #dfdfdf;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
