// color
/* UM theme */
$theme-color: #ffcb09;
$secondary-color: #ffcb09;
$text-color: #dfdfdf;
$secondary-text-color: #063262;
$highlight-color: #ffcb09;
$background-color: #063262;
$overlay: rgba(1,62,120,0.8);
$white-overlay: rgba(255,255,255,0.8);
$card-color: #2e99b0;
$light-blue: #2e99b0;

// font
$large-title: 5em;
$middle-title: 3em;
$small-title: 2em;
$text-content: 1em;
$text-mobile: 0.8em;
$mobile-title: 1.8em;

// interval
$spacer-large: 10em;
$spacer-middle: 5em;
$spacer-small: 2em;
